@model JobUpdateDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="my-2">
        <form asp-action="Update" asp-controller="Admin" asp-area="Admin" method="post" class="mx-auto w-75 p-3">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name">Ad</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input class="form-control" asp-for="Name" type="text" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Aciklama</label>
                <span asp-validation-for="Description" class="text-danger"></span>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId">Department</label>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                <select class="form-control" asp-for="DepartmentId" asp-items="ViewBag.Departments">
                    <option hidden value="@Model.DepartmentId">Department Secin</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate">Yaradilma Tarixi</label>
                <span asp-validation-for="CreationDate" class="text-danger"></span>
                <input class="form-control" asp-for="CreationDate" type="datetime-local" />
            </div>
            <a asp-controller="Admin" asp-area="Admin" asp-action="List" class="btn btn-warning"><i class="fas fa-times mx-2"></i>Imtina</a>
            <button type="submit" class="btn btn-dark"><i class="fas fa-save mr-2"></i>Save</button>
        </form>
    </div>
</div>
