
@{
    ViewData["Title"] = "Erorr";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-4">
        <img src="~/img/Actions-window-close-icon.png" class="w-100 img-fluid" />
    </div>
    <div class="col-8">
        <p class="display-4 text-danger">
            Bir xeta yarandi.Zehmet olmasa,yeniden ceht edin!
        </p>
    </div>
</div>
